html, body {
    background-color: black;
    background-image: url("infinity.png");
    background-size: 50%;
    background-position: center;
    cursor: none;
    background-repeat: no-repeat;
}   