* {
    user-select: none;
}

header {
    height: 1.5em;
    /* padding: 1em; */
    box-sizing: border-box;
    border-bottom: solid 0.06em grey;
    background-color: rgb(242,242,242);
    z-index: 6;
}


.content {
    /* padding: 1em; */
    height: calc(100% - 1.5em);
    top: 0;
    box-sizing: border-box;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}

.onlyOneImage .imageNavigation {
    display: none;
}

.imageNavigation {
    bottom: 20%;
    left:0;
    box-sizing: border-box;
    width: 4em;
    height: 60%;
    z-index: 5;
}

.imageNavigation.left { }

.imageNavigation.right {
    left: initial;
    right: 0;
}

.imageNavigation.right:hover::after,
.imageNavigation.left:hover::after {
    font-family: 'Material Icons';
    position: absolute;
    display: block;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: .35em .25em .25em .25em;
    background-color: darkslategray;
    border-radius: 50%;
    height: 1.75em;
    width: 1.75em;
    top: 45%;
}

.imageNavigation.left:hover::after {
    content: "\e5c4"; /* arrow_back */
    left: 1em;
}
.imageNavigation.right:hover::after {
    content: "\e5c8";  /* arrow_forward */
    right: 1em;
}

.thumbnails {
    opacity: 0.75;
    position: fixed;
    height: 6em;
    width: 100%;
    padding: 1em;
    bottom: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3em;
    transform: translateY(0em);
    transition: padding-top 250ms, opacity 350ms, transform 1s;
    z-index: 3;
}
.thumbnails:hover {
    opacity: 1;
    padding-top: 1em;
}

.thumbnails .thumbnail {
    border: 0.06em grey solid;
    height: 100%;
    width: 5.5em;  /* random width*/
    margin: 0 .5em;
    background-color: white;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.thumbnails .thumbnail:not(.active):hover {
    border: 0.06em white solid;
}

.thumbnails.videplayer {
    transform: translateY(6em);
}

.thumbnail.active {
    border: 0.06em red solid;
}

.videoPlayer {
    position: absolute;
    height: calc(100% - 1.5em);
    width: 100%;
    top: 1.5em;
    box-sizing: border-box;
    background-color: black;
}

#videoJsPlayerWrapper {
    width: 100%;
    height: 100%;
}

.vjs-big-play-button {
    left: calc(50% - 1.5em) !important;
    top: calc(50% - .8em) !important;
}

#videoJsPlayerWrapper_html5_api:focus {
    outline: none !important;
}

.videoPlayer .videoJsPlayerWrapper-dimensions.vjs-fluid {
    padding-top: 0 !important;
}

fieldset {
    padding:0.25em .5em;
    margin-bottom: 1em;
    border: thin rgba(0,0,0,.5) solid;
}
fieldset legend {
    color:rgba(0,0,0,.5);
    font-weight: bold;
    padding: .125em;
}
