body {
    font-family: win95, Verdana, Helvetica, sans-serif;
}

input, textarea {
    /* font-family: win95, Verdana, Helvetica, sans-serif; */
    font-family: inherit;
    font-size: inherit;
    /* font-family: win95-mono, win95, Verdana, Helvetica, sans-serif;
    letter-spacing: -.075em; */
}

.tabButtons {
    overflow: hidden;
}

.tabButtons .win95Button,
.tabButtons button {
    width:35px;
    min-width: 35px;
    height:35px;
    position: relative;
}

.tabButtons .win95Button img,
.tabButtons button img {
    padding: 0.4em;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top:0;
    left:0;
}
/* 
.windowmenu button.programButtons:not(.disabled):first-letter{
    text-decoration:underline
}
.windowmenu button.programButtons {
    padding: .3em .65em;
    border:none !important;
    box-shadow:none !important;
    background-color:unset !important;
}
.windowmenu button.programButtons:hover,
.windowmenu button.programButtons:active {
    border:none !important;
    box-shadow:none !important;
    background-color:unset !important;
}

.disabled {
    color:grey;
    text-shadow: white 0.1em 0.1em 0;
}
 */

/* TEXT STYLES */
.bold {
    text-shadow: currentColor .035em 0 0, currentColor -.035em 0 0;
    letter-spacing: .1em;
}

h1,
h2,
h3,
.title {
  font-size: 16px;
  font-weight: normal;
  display: inline;
}
