* {
    user-select: none;
}

header {
    height: 1.5em;
    box-sizing: border-box;
    border-bottom: solid thin grey;
    background-color: rgb(242,242,242);
}

.fileManagerTools {
    height: 3em;
    padding: .65em .5em;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
}

.fileManagerTools button {
    opacity: .6;
    border: solid thin lightgrey !important;
    box-sizing: border-box;
    background-color: rgba(255,255,255,1);
    transform: translateY(-.5em);
}

.fileManagerTools button:hover {
    opacity: 1;
}

.fileManagerToolsRight {
    top:0;
    right:0;
    padding: .65em .5em;
    background-color: rgb(242,242,242);
}

.fileManagerPath {
    height: 2em;
    padding: .35em .5em;
    box-sizing: border-box;
    position: relative;
}
.fileManagerPath #fileManagerPath {
    position: absolute;
    left: 20%;
    top: 0.35em;
    width: calc(80% - 3em);
    border: thin grey solid;
    background-color: white;
    padding: 0 0.25em;
}
.fileManagerPath div:not(#fileManagerPath) {
    position: absolute;
    top: 0.25em;
    right: .35em;
}

.browser {
    height: calc(100% - 6.5em);
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    padding: 0.5em .5em 0 1.5em;
    width: 20%;
    min-width: 12em;
    border-right: solid grey thin;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    float:left;
}

.logo  {
    margin-left: -1em;
    padding-top: 1.5em;
    padding-bottom: 2em;
}

.logo img {
    vertical-align: top;
    float: left;
    margin-right: .8em;
    margin-top: -1.2em;
    width: 5em;
}

.content {
    padding: 1em;
    height: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

#folderInfo {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fileTile {
    margin: 0 1.5em 1em 0;
    box-sizing: border-box;
    display: inline-block;
    width: 5em;
    height: 5em;
    overflow: hidden;
    text-align: center;
}

.fileTile:hover img {
    background-color: rgba(0,0,0,.15);
}

.fileTile img {
    height: 65%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.05);
    border-radius: 0.2em;
}

.fileTile div {
    height: 35%;
    font-size: 0.8em;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.treeView li {
    white-space: nowrap;
    border-bottom: thin solid rgba(0,0,0,.1);
    padding: .25em .5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.treeView img {
    height: 1em;
    margin-right: 0.25em;
}
