body {
    color: white;
    background-color: #2B2B2B;
}

header {
    border-bottom: solid thin rgba(255,255,255,.125);
    background-color: #2B2B2B;
}

header:last-of-type {
    border-bottom: solid thin rgba(255,255,255,.25);
}

.programButtons {
    font-family: inherit;
    color: white;
    background-color: rgba(255,255,255,.125);
    border-color: rgba(0,0,0,.75) !important;
    border-bottom: solid rgba(0,0,0,.75) thin !important;
}

button {
    /* border: solid thin rgba(255,255,255,.125) !important; */
    border: solid thin rgba(0,0,0,.75) !important;
    background-color: rgba(255,255,255,.125);
    color:white;
}

button i.grey {
    color:white !important;
}

hr {
    border-color: rgba(0,0,0,.25);
}

label > div:first-of-type {
    color: cyan;
}

/* TABS */
.tabs {
    background-color: transparent;
}

.tabs div {
    width: 12em;
    background-color: grey;
}


.paperHolder {
    background-color: rgba(0,0,0,.25);
}
.paper {
    width: 75%;
    min-height: 100%;
    background-color: rgb(50, 50, 50);
    margin: auto;
    padding: 1em 0;
}

.greyBorderLightTop { border-top: thin solid rgb(70, 70, 70) !important; }
.greyBorderLightRight { border-right: thin solid rgb(70, 70, 70) !important; }
.greyBorderLightBottom { border-bottom: thin solid rgb(70, 70, 70) !important; }