.showWindows { display: none !important; }
.showWindows95 { display: none !important; }
.showMac { display: none !important; }
.showLinux { display: none !important; }
.showSpa { display: none !important; }

body {
    user-select: none;
    overflow: hidden;
    /* FIXME: does not propagate through iframes etc
    cursor:  url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22pointer_cursor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%0A%09%20y%3D%220px%22%20width%3D%2228px%22%20height%3D%2228px%22%20viewBox%3D%220%200%2028%2028%22%20style%3D%22enable-background%3Anew%200%200%2028%2028%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpolygon%20fill%3D%22rgb(255%2C255%2C255)%22%20points%3D%2211.6%2C11.6%200%2C0%200%2C16%203.2%2C12.8%205.5%2C18.2%209.1%2C16.7%207%2C11.6%20%22%2F%3E%0A%3Cpolygon%20points%3D%229.2%2C10.6%201%2C2.4%201%2C13.6%203.6%2C11.1%205.9%2C16.8%207.8%2C16%205.5%2C10.6%20%22%2F%3E%0A%3C%2Fsvg%3E"), auto;
    */
}

.dontResizeWithGui {
    font-size: 1rem;
}

.shortcut {
    position: absolute;
    max-width: 8em;
    text-align: center;
    z-index: 2;
    border-radius: .25em;
    background: none;
}

.shortcut:hover {
    background: linear-gradient(to right, grey 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(grey 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, grey 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(grey 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top, right, bottom, left;
    background-repeat: repeat-x, repeat-y;
    background-size: 8px 1px, 1px 8px;
}

.shortcut img {
    display: block;
    width: 3em;
    margin-left: calc(50% - 1.6em);
    margin-bottom:.5em;
    padding: 0.15em;
}

.shortcut span {
    display: inline-block;
    color: black;
    background-color: rgba(255,255,255,.15);
    padding: 0.15em 0.25em;
    border-radius: .25em;
    margin: .25em;
}

input, button, select {
    border: none;
}

input:not([type=color]),
input[type=number],
input[type=password],
input[type=text] {
    padding:.15em;
}

input[type=range] {
    color:currentColor;
}

input[type=range].negative {
    accent-color: rgba(255,80,80,1);
}

input:not([type=color]),
button:not(.systemButton),
input[type=submit],
input[type=button]:not(.systemButton) {
    border: none;
    padding:.5em;
}

.dialog label img {
    width: 2.5em;
}

.dialog label input[type=checkbox]:checked ~ i,
.dialog label input[type=radio]:checked ~ img {
    background-color: rgba(88,150,255,1);
}

.dialog label input[type=checkbox]:not(:checked) ~ i,
.dialog label input[type=radio]:not(:checked) ~ img {
    background-color: rgba(255,255,255,0.1);
}

.setDialogDefaultProgram {
    width: 2em;
    right: 1em;
    padding-top: .5em;
}

.chooseBox {
    padding: 0.5em;
    border: thin white solid;
}

.chooseBoxTitle {
    font-size: .8em;
    padding: .25em 1em .25em .5em;
    display: inline-block;
    width: min-content;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

.dialog .chooseBox {
    margin-bottom: 1em;
    max-height: 24em;
    overflow-y:  auto;
    border: thin grey solid;
}

.fadeOutBottom {
    mask-image: linear-gradient(to bottom, black calc(100% - 3em), transparent 100%);
    padding-bottom: 2em;
}
.fadeOutBottom.arrowIndicator:before {
    content: "⌄";
    font-size: 1.5em;
    color: white;
    position: absolute;
    display: block;
    bottom: .5em;
    left: calc(50% - 0.5em);
    text-shadow:
     -1px -1px 1px #000,  
      1px -1px 1px #000,
      -1px 1px 1px #000,
       1px 1px 1px #000;
}

#autoDialogText {
    max-height: 24em;
    overflow-y: auto;
}

.dialog code {
    display: block;
    border-radius: 3px;
    padding: 0.5em;
    margin: 1em 0;
    border: thin grey solid;
    background-color: rgba(255,255,255,0.1);
}

.dialog .chooseBox label img,
.dialog .chooseBox i {
    padding: .25em;
    margin: .25em;
}

.dialog .chooseBox input[type=time] {
    /* width: 2.75em; */
    color: white;
    height: 2.75em;
    padding-left: 1em;
    margin: .25em;
    background-color: rgba(255,255,255,0.1);
    font-family: inherit;
}

.dialog .chooseBox input[type="time"]::-webkit-calendar-picker-indicator {
    /* background: none; */ /* disable clock icon in chrome but space is reserved.. */
    /* display: none; */    /* ..and this also disables nice time chooser */
}

#savedFilesDialog .chooseBox {
    max-height: 350px;
    overflow-y: auto;
    border: thin grey solid;
}

.editTaskbarIcon-clock-hide {
    position: relative;
    top: -1.5em;
    left: 1.5em;
}

.keyboardKey {
    border-radius: 1em;
    min-width: 1.2em;
    height: 1.2em;
    overflow: hidden;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: .25em;
    padding: 0.05em 0.35em 0.15em 0.35em;
    display: inline-block;
}

input[type="color"] {
	-webkit-appearance: none;
	border: solid rgb(125,125,125) thin;
	width: 1.75em;
	height: 1.75em;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

header.windowmenu {
    /* padding-left: 0.25em; */
    overflow: hidden;
    white-space: nowrap;
}

div.windowmenu .programButtons,
header.windowmenu .programButtons {
    font-family: inherit;
    background-color: none;
    border-right: solid thin grey;
    border-left: solid thin white;
    height: 100%;
    padding: 0 1em;
    margin: 0;
}

header.windowmenu .programButtons:hover {
    background-color: rgba(255,255,255,.5);
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    font-size: 2rem !important;
    z-index: 99999;
    color: white;
}

.overlay div {
    text-align: right;
    position: absolute;
    top: 10%;
    right:10%;
}

.overlay button {
    margin-top: 1em;
    font-size: .75em;
}

.overlay button i {
    font-size: 1.25em;
    margin: 0 .25em 0 .25em ;
}

.fancy {
    background: rgba(131,58,180,1);
    background: linear-gradient(345deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}


/* ACTION MENU */
#actionMenu:not(.hide) {
    display: flex !important;
    justify-content: center;
    z-index: 99998;
}

.actionMenu {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    top: 3em;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 99998;
}

@media all and (max-width: 1100px), (max-height: 800px) {
    .actionMenu {
        top: 0;
        height: 100%;
        overflow-y: auto;
    }
    .actionMenu .footer {
        position: relative;
        margin:0;
        text-align: center;
    }
}
@media all and (max-width: 800px) {
    /* Make as much space as possible */
    .actionMenu {
        top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        border-radius: 0;
    }
    .actionMenu .footer {
        position: relative;
        margin:0;
        text-align: center;
    }
    .actionMenu .columns {
        padding: 0.5em !important;
    }
    .actionMenuTitle {
        border-radius:0;
    }
}

@media all and (max-width: 600px) {
    /* Make one column */
    .actionMenu .columns {
        width: 100% !important;
    }
    .actionMenu .columns .chooseBox {
        margin-bottom: 2em;
    }
}

#actionMenu,
#actionMenu.op25 {
    transition: opacity 250ms;
}

.actionMenu:hover {
}

.actionMenuTitle {
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

.actionMenu .chooseBox {
    border-top-left-radius: 0;
    margin-bottom: 1em;
    padding: .25em .5em;
}

.actionMenu .columns {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 220px;
}

.actionMenu ul,
.actionMenu h3,
.actionMenu h4,
.actionMenu h5 {
    /* float: left; */
    /* margin: .5em .5em 0 .5em; */
}

.actionMenu ul {
    /* margin-bottom: 1em; */
}

.actionMenu .chooseBox li {
    padding: .25em;
}

.chooseBox li {
    padding: .5em;
    width: 300px;
}

.chooseBox li {
    width: initial;
}

.chooseBox li:not(:last-of-type),
.actionMenu li:not(:last-of-type) {
    border-bottom: solid grey thin;
}

.chooseBox li:hover,
.actionMenu li:hover {
    background-color: rgba(255,255,255,0.2);
}

.dialog {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 99999;
}

.dialog input[type=text],
.dialog textarea {
    padding: .75em .5em;
    margin: .5em 0;
}

.autoNote {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    color: white;
    min-width: 8em;
    max-width: 20em;
    margin-top: 1.5em;
}

.autoNote div {
    padding: 1em;
    margin: 1em;
}

.autoNote div h3 i {
    margin-right: .25em;
}

.autoNote div h3 {
   padding-bottom: .5em;
}

#savedFilesDialog .chooseBox li:hover i {
    opacity: 1;
}

#savedFilesDialog .chooseBox li i {
    opacity: 0;
}

#savedFilesDialog .chooseBox li div {
    padding: 1em .5em 0 0;
}

.fileUploadButton {
    overflow: hidden;
    position: relative;
}

.fileUploadButton i {
    transform: scale(1.5) translateY(.125em);
    position: relative;
    z-index: 0;
}

.fileUploadButton input {
    opacity: 0;
    margin: 0;
    padding: 0;
    font-size: 2em;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 1;
}

.actionMenu h1,
.actionMenu h3,
.actionMenu h4 {
    opacity: 0.75;
}

.actionMenu li i {
    vertical-align: middle;
}

.minimizeWindow { animation: minimizeWindow .15s ease-in 1 forwards; }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gradientPreview {
    height: 38vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#gradientPreview div div {
    font-size:.85em;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    background-color: rgba(222,222,222,.33);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom:1.25rem;
    border: solid 0.25px rgba(166,166,166,.33);
}
#gradientPreview div span {
    font-size:.5em;
    text-align: left;
    background-color: rgba(33,33,33,.33);
    display: block;
    width: 6rem;
    height: .5rem;
    border-radius:.5rem;
    margin-bottom:.35rem;
    padding:.2rem .35rem;
    border: solid 0.25px rgba(166,166,166,.33);
}
#gradientPreview p {
    position: absolute;
    background-color: rgba(33,33,33,.33);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin:.5em 1em;
    right:0;
    bottom:0;
}

.angle-control {
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
}

.angle-control-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dial {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(125,125,125,.5);
    border-radius: 50%;
    cursor:crosshair;
    text-align: center;
    color:white;

	display: grid;
	align-items: center;

    background: conic-gradient(
        black 0deg 40deg,
        grey 40deg 50deg,
        black 50deg 360deg
    );
}

#angleDisplay {
    user-select: none;
    font-size: .85em;
}

/* Additional styling as needed */
#setGradient input[type='range'] {
    overflow: hidden;
    width: 8em;
    -webkit-appearance: none;
    background-color: #808080;
    cursor: default;
    border-radius:1em;
    border-left: #808080 solid .625em;
    border-right: #808080 solid .625em;
}

#setGradient input[type='range']::-webkit-slider-runnable-track {
    height: 1em;
    -webkit-appearance: none;
    color: #808080;
    margin-top: -1px;
    cursor: default;
}

#setGradient input[type='range']::-webkit-slider-thumb {
    width: .3em;
    -webkit-appearance: none;
    height: 2em;
    margin-top:-.5em;
    cursor: ew-resize;
    background: #5896FF;
    box-shadow: -80px 0 0 80px #808080;
}

#gpuFail {
    pointer-events: none;
    background-image: url(../tools/gpuFail.png);
    background-size: 100% 100%;
    animation: gpuFail 5000ms ease-in infinite,  gpuFailMovement 3333ms linear infinite;
}


@keyframes minimizeWindow {
    0%   { margin-top: 0; transform: scale(1); }
    100% { margin-top: 100%; transform: scaleX(.8); }
}