:root {
  --wm-handle-edges: 20px;
  --wm-handle-corners: 25px;
  --wm-debug-color: transparent;  /* rgba(255,0,0,.5); */
}

.window { box-sizing: border-box; }

/* edges */
.window .wm-handle {
  position:absolute;
  background: var(--wm-debug-color);
}
.window .wm-h-n { top:-8px; left:0; right:0; height:var(--wm-handle-edges); cursor: ns-resize; }
.window .wm-h-s { bottom:-8px; left:0; right:0; height:var(--wm-handle-edges); cursor: ns-resize; }
.window .wm-h-e { top:0; bottom:0; right:-8px; width:var(--wm-handle-edges); cursor: ew-resize; }
.window .wm-h-w { top:0; bottom:0; left:-8px; width:var(--wm-handle-edges); cursor: ew-resize; }

/* corners */
.window .wm-h-nw { border-radius: 50%; top:-12px; left:-12px; width:var(--wm-handle-corners); height:var(--wm-handle-corners); cursor:nwse-resize; }
.window .wm-h-ne { border-radius: 50%; top:-12px; right:-12px; width:var(--wm-handle-corners); height:var(--wm-handle-corners); cursor:nesw-resize; }
.window .wm-h-sw { border-radius: 50%; bottom:-12px; left:-12px; width:var(--wm-handle-corners); height:var(--wm-handle-corners); cursor:nesw-resize; }
.window .wm-h-se { border-radius: 50%; bottom:-12px; right:-12px; width:var(--wm-handle-corners); height:var(--wm-handle-corners); cursor:nwse-resize; }

.window {
  position: absolute;
  width:600px;
  height: 320px;
  min-width: 100px;
  min-height: 75px;
  top: 100px;
  left: 100px;
  background-color: black;
}

/* PREVENT DRAGGING/RESIZING INTO IFRAME */
.windowManagerOverlay {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 1.5em;
  left: 0;
  width: 100%;
  height: calc(100% - 1.5em);
  z-index: 999;
}

.window .content {
  /* background-color: red; */
  height: calc(100% - 1.5em);
  top: 1.5em;
  overflow: auto;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}

.window .windowFrame {  
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  box-sizing: border-box;
}

.window .windowFrame div {
  display: inline-block;
}
