.desktop {
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    background-image: url(desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.systemColors {
    background-color: black;
    color: white;
}

/* TOOLTIPS! */
/* by https://www.florin-pop.com/blog/2019/05/pure-css-tooltip/ */
.tooltip {
    position: relative;
}
.tooltip::before {
    content: attr(data-title);
    white-space: nowrap;
    background-color: white;
    border-radius: .25rem;
    color: black;
    display: none;
    padding: .5rem;
    position: absolute;
    font-size: .8rem;
    text-align: center;
    z-index: 1110;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 1rem));
    box-shadow: rgba(0,0,0,0.5) 3px 5px 7px;
}

.tooltip:hover::before,
.tooltip:hover::after {
    display: block;
}

/* Arrow */
.tooltip::after {
    /* background-color: white; */
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid white;
    content: ' ';
    display: none;
    position: absolute;
    z-index: 1111;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - .5rem));
}


/* SHENANIGANS */
.lockScreen > div {
    font-size: 1.25em;
    line-height: 1.5em;
    padding:1.5em 2em;
}

.lockScreen #lockScreenUserPicture {
    width: 5em;
}

.lockScreen input {
    padding: .5em 1em;
    margin-bottom: 1em;
}

.lockScreen button {
    padding: .5em 1em;
    margin: 2em 0 0.25em 0;
}

#lockScreenColorOverlay {
    background: rgba(131,58,180,.35);
    background: linear-gradient(329deg, rgba(131,58,180,.35) 0%, rgba(253,29,29,.35) 50%, rgba(252,176,69,.35) 100%);
}

#lockScreen.loginAnimation #lockScreenColorOverlay {
    animation: animateBgColor 750ms ease-in-out 1 forwards;
    animation: fadeoutLoginWindow 500ms 1500ms ease-in-out 1 forwards;
}

.loginAnimation #lockScreenSystemColorOverlay {
    animation: fadeoutLoginWindow 750ms 2s ease-in-out 1 forwards;
}

@keyframes animateBgColor {
    0%   { background-size: 100%; }
    100%  { background-size: 600%; }
}

@keyframes fadeoutLoginWindow {
    0%  { opacity: 1; }
    /* 50%  { opacity: 1; } */
    100%  { opacity: 0; }
}

#wrongPassword {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: teal; */
    /* text-align: left; */
    width: 100%;
    font-size: .75em;
    line-height: 2em;
}

/* WINDOW */
.window {
    background: white;
    /* border: 5px solid #4286f4; */
    border-radius: 5px;
}

.window .content {
    height: calc(100% - 1.5em);
    top: 1.5em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.window .windowFrame {  
    /* background-color: black;
    color: white; */
    height: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.window .windowFrame .windowTitle span {
    font-size: .75em;
}

.window .windowFrame .windowTitle i  {
    padding: 0.25em .25em 0 .5em;
}

.window .windowFrame .windowActions {
    padding: 0.25em;
}


/* TASKBAR */
.systemBar {
    /* color: grey; */
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    padding-left: .5em;
    /* background-color: black; */
    z-index: 1;
    white-space: nowrap;
}

.systemBar div {
    padding: 0.25em 0;
}

.systemBar div:not(.hide) {
    display: inline-block;
}

.systemBar .spacer {
    padding: .75em 0;
    width: 1px;
    margin: 0;
    background-color: rgba(255,255,255,0.2);
}

.taskbar {
    white-space: nowrap;
}

.systemBar .buttonGroup button {
    border-radius: 0;
    border-left: none;
}

.systemBar .buttonGroup button:first-of-type {
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    border-left: solid thin rgba(255,255,255,0.2);
}

.systemBar .buttonGroup button:last-of-type {
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
}

.systemBar .taskbar button {
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 .5em 0 0;
}

.systemBar button {
    border: solid thin grey;
    height: 2em;
    padding: .2em .5em;
    border-radius: .25em;
    /* color: white; */
    /* background-color: black; */
}

.systemBar button:hover {
    background-color: rgba(255,255,255,0.2);
}

.systemBar button i.small {
    margin-right: 0.25em;
}

.systemBar button i:not(.small) {
    transform: translateY(-.1em);
}

.systemBar .systemIcons {
    border-left: thin solid rgba(255,255,255,0.3);
    padding: 0.25em 0.5em 0 1em;
    /* background-color: black; */
}

.systemBar .systemIcons div:not(.hide) {
    display: inline-block;
}

/* .systemBar .systemIcons div.systemClock { */
.systemClock,
#systemIcons-clock {
    padding: 0 .25em .5em .25em !important;
}

.startMenu {
    /* color: white; */
    position: fixed;
    left: .3em;
    bottom: 3em;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.startMenu .columns {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.startMenu ul,
.startMenu h3,
.startMenu h4,
.startMenu h5 {
    /* float: left; */
    margin: .5em .5em 0 .5em;
}

.startMenu ul {
    margin-bottom: 1em;
}

.startMenu li {
    position: relative;
    padding: .5em;
    width: 17em;
}

.startMenu li:not(:last-of-type) {
    border-bottom: solid rgba(255,255,255,0.2) thin;
}

.startMenu li:not(.noLiHover):hover {
    background-color: rgba(255,255,255,0.2);
}

.startMenu h1,
.startMenu h3,
.startMenu h4 {
    opacity: 0.75;
}

.startMenu li i {
    vertical-align: middle;
}

/* special two buttons in one row */
.powerButtons {
    padding:0 !important;
    margin:0 !important;
}
.powerButtons div {
    box-sizing: border-box;
    width: 50%;
    display: inline-block;
    padding: .5em;
}
.powerButtons div:hover {
    background-color: rgba(255,255,255,0.2);
}


/* SUBMENU */
.startMenu ul div.submenu {
    display: none;
    position: absolute;
    top: -2em;
    left: 90%;
    box-sizing: content-box;
    border: 1em transparent solid;
    border-left: 2.5em transparent solid;
}

.startMenu li:hover div.submenu {
    display: block;
}

.startMenu ul div.submenu ul {
    padding: .5em;
    max-height:20em;
    overflow: auto;
}

.startMenu ul div.submenu ul li {
    padding: .8em;
}